.heading{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 1300px;
    background-color: aqua;
    color: black;
    font-size: 50px;
    font-weight: 500;
}
.section1{
    height: 200px;
    width: 1300px;
    background-color: purple;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.section2{
    height: 200px;
    width: 1300px;
    background-color: violet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}